Braided River/baseline.tiff
Braided River/detrended.tiff
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/2IMA30_TDA_Project.iml
.ipynb_checkpoints/River bed animation-checkpoint.ipynb
